# Python
__pycache__/
*.py[cod]
.venv/
.DS_Store

# ML artifacts & datasets
artifacts/*
!artifacts/.gitkeep
!artifacts/gifs/
!artifacts/gifs/**
!artifacts/backgrounds/
!artifacts/backgrounds/**

data/*
!data/.gitkeep

*.joblib
*.pkl
*.h5
*.onnx
*.pt
*.bin
*.csv
!*.sample.csv

